<li>
  <%= link_to user.username, [:admin, user] %>
    <% if current_user.is_admin? && !current_user?(user) && !user.is_admin? %>
      |<%= link_to "edit", [:edit, :admin, user]%> |
      <%= link_to "delete", [:admin,user], method: :delete,
                                  data: {confirm: "Do you sure to delete user?"} %>
    <% end %>
</li>